name: hexo-build
on:
  push:
    branches:
      - main
jobs:
  WebStack-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['lts/erbium']
    steps:
      - name: Checkout
        uses: actions/checkout@main
        env:
          TZ: Asia/Shanghai
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@main
        with:
          node-version:  ${{ matrix.node }}
      - name: Handle npm cache
        uses: actions/cache@main
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: |
          npm install
      - name: Deploy
        env:
          TZ: Asia/Shanghai
        run: |
          npm run build
          cd public/
          git config --global init.defaultBranch main
          git init
          git config user.name "${{secrets.GIT_NAME}}"
          git config user.email "${{secrets.GIT_EMAIL}}"
          git add .
          git commit -m "Site updated" -q
          git push -f -q "https://${{secrets.GH_TOKEN}}@${{secrets.GH_REF_WEBSTACK}}" main